
.first-page{
  
     background-image: url('../assets/Hero-bg.png');
     padding-top: 44px;
     padding-bottom: 44px;
}
.first-section-data{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
}
.section-content{
  text-align: center;
     /* Frame 1 */
width: 998px;
height: 212px;
margin-bottom: 50px;
}
.heading{
     color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}
.paragraph{
     color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
opacity: 0.7;
margin-top: 0px;
margin-top: 10px;

}
.btn{
     margin-top: 32px;
     padding: 21px 24px 21px 24px;                       color: rgb(255, 255, 255);
     background-color:rgb(13, 19, 33);
     border-radius: 8px;
     
     }
     .second-heading{
          font-size: 32px;
          font-weight: 800px;
          margin-bottom: 20px;
          align-content: center;
          text-align: center;
     }
.second-page{
     padding: 0px 97px 0px 97px;
    margin: 152px;
}
.section-title{
     
     color: rgba(13, 19, 33, 0.7);
     font-family: Azeret Mono;
     font-size: 24px;
     font-weight: 700;
     line-height: 36px;
     letter-spacing: 0%;
     text-align: left;

}
.button-two{
     padding: 12px 20px 12px 20px;
}
.web-content{
     display: flex;
     gap: 0 90px;
     
}
.paragraph-content{
     opacity: 0.7;
     

}
.paragraph-content-two{
     margin: 0px 260px;
     opacity: 0.7;
     
     text-align: center;
}
.video{
     margin-top: 48px;
    
     border-radius: 16px;
     display: flex;
     justify-content: center;
     margin: 48px 180px;
    
}
.video frame {
     border-radius: 16px;
     width: 1076px;
     height: 550px;
}
#cards {

margin-bottom: 110px;
display: flex;
justify-content: center;
padding: 0px;
gap: 20px;
align-items: center;
}

.box-1{
     max-width:200px;
     margin-top: 48px;
     background: rgba(255, 76, 30, 0.05);
padding: 30px;
}

.box-2{
     max-width:200px;
     margin-top: 48px;
     background: rgba(0, 76, 232, 0.05);
     padding: 30px;
}
.box-3{
     max-width:200px;
     margin-top: 48px;
    background-color:  rgba(255, 223, 0, 0.05);
    padding: 30px;
}
    

.head-info{
     color: rgb(255, 255, 255);
     font-size: 32px;
     font-weight: 700px;
     align-content: center;
     font-family: Azeret Mono; 
     justify-content: center;
     margin-bottom: 15px;
}
.description-info{
     font-family: Azeret Mono;
     font-size: 16px;
     font-weight: 400px;
     opacity: 0.7;
     color: rgb(255, 255, 255);
     margin-bottom: 40px;

}
.support{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content:center;
     background-image: url('../assets/handshake.jpg');
     background-repeat: no-repeat;
     background-position: center;
     padding: 50px 45px 50px 45px;
     border-radius: 16px;
     margin: 0px 100px;

}
.ending{
     justify-content: center;
     align-items: center;
}
.feedback-btn{
     border-radius: 8px;
     box-sizing: border-box;
      border: 1px solid;
      width: 500px;
     height: 45px; 
     padding: 19px 20px 19px 20px;
}
.submit-btn{
     width: 100px;
     height: 45px;
     border-radius: 8px;
     border: 1px solid;
}
.icon-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-left: 110px;
     margin-right: 190px;
}
.icon{
     display: flex;
     width: 13.25px;
     height: 28.25px;
     gap: 5px;
}
.commitment{
     color: rgb(13, 19, 33);
     font-family: Azeret Mono;
     font-size: 20px;
     font-weight: 600;

}
.support-content{
   text-align: center;
}
.support{

}

